.input {
  background: hsl(235, 24%, 19%);
  cursor: hsl(220, 98%, 61%);
}

.active {
  color: hsl(220, 98%, 61%);
}

.hover {
  color: hsl(236, 9%, 61%, 0.36);
}

.hoverRemove {
  color: rgba(211, 134, 151, 0.36);
}

.hoverRemove:hover {
  color: rgba(224, 28, 71, 0.36);
  transition: 0.3s;
}

.hover:hover {
  color: hsl(220, 98%, 61%);
  transition: 0.3s;
}

.filterItemsLength {
  color: hsl(236, 9%, 61%, 0.63);
  transition: 0.3s;
}

.filterDark {
  color: hsl(236, 9%, 61%, 0.63);
  transition: 0.3s;
}

.filterDark:hover {
  color: hsl(0, 0%, 98%);
  transition: 0.3s;
}

.filterLigth {
  color: hsl(236, 9%, 61%, 0.63);
  transition: 0.3s;
}

.filterLigth:hover {
  color: hsl(0, 1%, 24%);
  transition: 0.3s;
}
